@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese");

$redColor: rgba(244, 67, 54, 1);
$blueColor: rgba(33, 150, 243, 1);

$breakpoint-lg: 62rem;
$breakpoint-md: 48rem;
$breakpoint-sm: 30rem;

// Configuración inicial para desbordamiento y ajuste de pantallas
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursor,
.cursor2,
.cursor3 {
  position: fixed;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
}

.cursor {
  background-color: #fff;
  height: 0;
  width: 0;
  z-index: 99999;
}

.cursor2,
.cursor3 {
  height: 2.25rem;
  width: 2.25rem;
  z-index: 99998;
  transition: all 0.3s ease-out;
}

.cursor2.hover,
.cursor3.hover {
  transform: scale(2) translate(-25%, -25%);
  border: none;
}

.cursor2 {
  border: 0.125rem solid #fff;
  box-shadow: 0 0 1.375rem rgba(255, 255, 255, 0.6);
}

.cursor2.hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 0.75rem rgba(255, 255, 255, 0.2);
}

.section {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  height: 100vh;
  background-color: #212121;
}

.slider-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  list-style: none;
}

.slider-wrapper .slider-name a {
  position: relative;
  list-style: none;
  display: block;
  text-align: center;
  font-size: 1.75rem;
  margin: 1.5rem 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.125rem;
  color: #8e8d9a;
  opacity: 0.5;
  text-decoration: none;
  transition: all 300ms linear;
}

.slider-wrapper .slider-name.active a {
  opacity: 1;
  color: #fff;
}

.slider-images li {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  list-style: none;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.slider-images li.show {
  opacity: 1;
  visibility: visible;
}

.slider-images li .img-hero-background {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slider-images li .img-hero-background img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  transition: opacity 0.5s ease-in-out;
}

.slider-images li .slider-title {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  display: block;
  opacity: 0;
  color: #fff;
  z-index: 19;
  letter-spacing: 0.0625rem;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.15;
  font-style: italic;
  transform: translateX(-100%);
  transition: all 300ms linear;
}

.slider-images li.show .slider-title {
  opacity: 1;
  transform: translateX(0);
}

.dark-over-hero {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #050505;
  opacity: 0.3;
}

.developer-logo {
  position: fixed;
  top: 75rem;
  right: 1.875rem;
  z-index: 20;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 0.1875rem;
  box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.3);
  transition: opacity 0.2s ease-out, border-radius 0.2s ease-out, box-shadow 0.2s ease-out;
}

.developer-logo img {
  width: 100%;
  height: 100%;
  border-radius: 0.1875rem;
  object-fit: cover; /* Asegura que la imagen se ajuste al contenedor */
}

.developer-logo:hover {
  opacity: 0.8;
  border-radius: 50%;
  box-shadow: 0 0 0.9375rem rgba(255, 255, 255, 0.6);
}

@media (max-width: $breakpoint-md) {
  .slider-wrapper .slider-name a {
    font-size: 2rem;
  }

  .slider-images li .slider-title {
    font-size: 1rem;
    bottom: 1.5rem;
    left: 1.5rem;
  }

  .developer-logo {
    top: auto;
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

@media (max-width: $breakpoint-sm) {
  .slider-wrapper .slider-name a {
    font-size: 1.8rem;
  }

  .slider-images li .slider-title {
    font-size: 1rem;
  }

  .slider-images li .hero-number {
    font-size: 0.625rem;
  }
}
