.logo {
  position: fixed;
  left: 0;
  top: 0;
  font-weight: 700;
  padding: 1.25rem;
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;

    .logo-img {
      width: 120px;
      height: auto;
      margin-right: 8px;
    }
  }
}
